{
  "extends": ["airbnb", "prettier"],
  "plugins": ["prettier"],
  "rules": {
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js", ".jsx"]
      }
    ],
    "react/jsx-props-no-spreading": [
      1,
      {
        "custom": "ignore"
      }
    ],
    "prettier/prettier": "error"
  },
  "env": {
    "jest": true,
    "browser": true
  }
}
